<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div class=" bg-sky-900 h-auto px-4 py-4">
        <h1 class="text-white text-right text-4xl font-bold p-3">Hi, Admin </h1>
    </div>

    <div class="h-screen relative flex gap-3 pr-3">

      <nav class="relative w-64 bg-sky-900 text-white h-screen">
        <div class="flex items-center justify-center ">
          <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="" />
        </div>
        <div
          class="grid grid-rows-3 grid-flow-col gap-1 w-full md:col-span-3 lg:col-span-2 rounded-lg w-1/2:flex h-24 outline outline-offset outline-cyan-200"
        >
          <img
            src="assets/img/man-icon-card.png"
            class="w-18 h-14 lg:w-1/4 ml-1 mt-5 rounded-full"
          />
          <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">
            accreditor
          </h2>
          <p class="mb-2 text-2xl font-bold text-black text-center">3</p>
        </div>
        <div
          class="grid grid-rows-3 grid-flow-col gap-1 w-full md:col-span-3 lg:col-span-2 rounded-lg w-1/2:flex h-24 outline outline-offset outline-cyan-200"
        >
          <img
            src="assets/img/man-icon-card.png"
            class="w-18 h-14 lg:w-1/4 ml-1 mt-5 rounded-full"
          />
          <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">
            Total Files
          </h2>
          <p class="mb-4 text-2xl font-bold text-black text-center">3</p>
        </div>
      </nav>
      <main class="flex-1 grid grid-cols-1 gap-3 auto-rows-min">

        <div class="grid lg:grid-cols-3 m-8 ">
            <div class= " ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3 rounded-full shadow-xl w-1/2:flex h-24  outline outline-offset outline-cyan-200">
              <img src="assets/img/man-icon-card.png"
                  class="w-18  h-14 lg:w-1/4 ml-1 mt-5 rounded-full">
                  <h2 class="mb-2 text-2xl font-bold text-black text-center">Admin</h2>
                  <p class="mb-2 text-2xl font-bold text-black text-center">3</p>
                </div>
                <div class= " ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3  rounded-full shadow-xl w-1/2:flex h-24  outline outline-offset outline-cyan-200">
                  <img src="assets/img/man-icon-card.png"
                  class="w-18  h-14 lg:w-1/4 ml-1 mt-5 rounded-full">
                      <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">accreditor</h2>
                      <p class="mb-2 text-2xl font-bold text-black text-center">3</p>
          </div>
          <div class= " ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3  rounded-full shadow-xl w-1/2:flex h-24  outline outline-offset outline-cyan-200">
            <img src="assets/img/man-icon-card.png"
                   class="w-18  h-14 lg:w-1/4 ml-1 mt-5 rounded-full">
                <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">Total Files</h2>
                <p class="mb-4 text-2xl font-bold text-black text-center ">3</p>
            </div>
          </div>
        <app-admin-dashboard></app-admin-dashboard>

        <app-admin-files></app-admin-files>
      </main>
    </div>

  </body>
</html> -->
<!-- admin dialog card-->
<app-admin-dialog-card></app-admin-dialog-card>

<div class="bg-gray-50 min-h-screen">
  <app-admin-nav></app-admin-nav>
  <div class="relative flex gap-3 pr-3">
    <app-admin-sidebar></app-admin-sidebar>
    <main class="flex-1 grid grid-cols-1 gap-3 auto-rows-min ml-64 z-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
