<div class="bg-gray-50 min-h-screen">
  <!-- overlay when the sidebar is open in mobile view -->
  <div
    *ngIf="isNavOpened"
    class="bg-black fixed top-[96px] left-0 right-0 bottom-0 opacity-40 z-10"
  ></div>
  <app-nav [navDisplayName]="userName"></app-nav>
  <!--Came from the shared folder -->
  <!-- <app-dashboard-dialog></app-dashboard-dialog> -->
  <div class="relative flex gap-3 pr-3">
    <app-admin-sidebar></app-admin-sidebar>
    <!-- if the overlay is active, any pointer events will be disabled in main -->
    <main
      class="flex-1 grid grid-cols-1 gap-3 auto-rows-min ml-0 sm:ml-64 z-0"
      [ngClass]="{ 'pointer-events-none select-none': isNavOpened }"
    >
      <!-- 3 cards -->
      <div class="grid lg:grid-cols-3 m-8">
        <div
          class="ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3 rounded-full shadow-xl w-1/2:flex h-24 outline outline-offset outline-cyan-200"
        >
          <img
            src="assets/img/man-icon-card.png"
            class="w-18 h-14 lg:w-1/4 ml-1 mt-5 rounded-full"
          />
          <h2 class="mb-2 text-2xl font-bold text-black text-center">Admin</h2>
          <p class="mb-2 text-2xl font-bold text-black text-center">3</p>
        </div>
        <div
          class="ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3 rounded-full shadow-xl w-1/2:flex h-24 outline outline-offset outline-cyan-200"
        >
          <img
            src="assets/img/man-icon-card.png"
            class="w-18 h-14 lg:w-1/4 ml-1 mt-5 rounded-full"
          />
          <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">
            accreditor
          </h2>
          <p class="mb-2 text-2xl font-bold text-black text-center">3</p>
        </div>
        <div
          class="ml-20 grid grid-rows-3 grid-flow-col gap-1 w-3/4 row-span-3 rounded-full shadow-xl w-1/2:flex h-24 outline outline-offset outline-cyan-200"
        >
          <img
            src="assets/img/man-icon-card.png"
            class="w-18 h-14 lg:w-1/4 ml-1 mt-5 rounded-full"
          />
          <h2 class="mb-2 text-2xl font-bold text-black text-center ml-2">
            Total Files
          </h2>
          <p class="mb-4 text-2xl font-bold text-black text-center">3</p>
        </div>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
