<div class="bg-gray-50 min-h-screen">
  <!-- overlay when the sidebar is open in mobile view -->
  <div
    *ngIf="isNavOpened"
    class="bg-black fixed top-[96px] left-0 right-0 bottom-0 opacity-40 z-10"
  ></div>
  <app-nav [navDisplayName]="userName"></app-nav>
  
  <div class="relative flex gap-3 pr-3">
    <app-accre-sidebar></app-accre-sidebar>
    <main class="flex-1 grid grid-cols-1 gap-3 auto-rows-min ml-0 sm:ml-64 z-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
