<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="h-screen relative flex gap-3 pr-3">
      <nav class="relative w-64 bg-sky-900 text-white h-screen">
        <div class="flex items-center justify-center mt-12">
          <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="" />
        </div>
        <p class="font-semibold text-center mt-5 text-2xl">Admin</p>
        <div class="px-16 mt-6">
          <hr style="border: 1px solid white" />
        </div>
        <ul class="mt-4 text-center text-2xl font-semibold px-3 py-4">
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Create Account</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Summary Gen</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Change Password</a
            >
          </li>
        </ul>
        <div
          class="flex items-center justify-center absolute inset-x-0 bottom-2"
        >
          <button
            class="text-2xl px-4 py-2 hover:bg-sky-700 rounded-2xl font-semibold"
          >
            Logout
          </button>
        </div>
      </nav>
      <main class="flex-1 grid grid-cols-1 gap-3">

        <!-- 3 cards goes here -->
        <!-- <div class="card-div">
          <mat-card class="shadow-2xl w-24 h-24 rounded-lg">
            <mat-card-header>
              <img class="pic-icon"
                src="assets/img/man-icon-card.png"
                mat-card-avatar />
              <mat-card-title class="card">Admin</mat-card-title>
              <mat-card-subtitle class="card">
                3
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-card class="shadow-2xl w-24 h-24 rounded-lg">
            <mat-card-header>
              <img class="pic-icon"
                src="assets/img/man-icon-card.png"
                mat-card-avatar />
              <mat-card-title class="card">Accreditor</mat-card-title>
              <mat-card-subtitle class="card">
                3
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-card class="shadow-2xl w-24 h-24 rounded-lg">
            <mat-card-header>
              <img class="pic-icon"
                src="assets/img/man-icon-card.png"
                mat-card-avatar />
              <mat-card-title class="card">Total Files</mat-card-title>
              <mat-card-subtitle class="card">
                3
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div> -->
        <app-admin-dashboard></app-admin-dashboard>
      </main>
    </div>
  </body>
</html>
