<router-outlet></router-outlet>

<!--sidebar container-->
<div class="fixed w-64 bg-sky-900 text-white h-screen">
    <nav>
        <!--centering all content-->
        <div class="flex items-center justify-center mt-12">
          <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="" />
        </div>
        <p class="font-semibold text-center mt-5 text-2xl">Faculty</p>
        <div class="px-16 mt-6">
          <hr style="border: 1px solid white" />
        </div>
        <ul class="mt-4 text-center text-2xl font-semibold px-3 py-4">
          <li>
            <a
              routerLink=""
              routerLinkActive="bg-sky-700"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Levels And Phase</a
            >
          </li>
          <li>
            <a
              routerLink=""
              routerLinkActive="bg-sky-700"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl"
              >Edit Profile</a
            >
          </li>
        </ul>
        <!--logout button-->
        <div class="flex items-center justify-center absolute inset-x-0 bottom-2">
          <button
            class="text-2xl px-4 py-2 hover:bg-sky-700 rounded-2xl font-semibold"
          >
            Logout
          </button>
        </div>
      </nav>
    </div>
    
    <!--editProfile-->
    <!-- container-->
    <div class="relative z-50 flex items-center justify-center h-full">
        <div
          class="mt-11 w-1/2 h-auto bg-sky-900 text-white rounded-lg border border-sky-700 shadow-lg p-10"
        >
        <!--img-->
          <div class="flex justify-center">
            <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="" />
          </div>
      
          <!--edit profile form-->
          <div class="flex flex-col gap-4 pt-2">
            <div class="p-4">
              <form action="">
                <input
                  required
                  type="name"
                  name="name"
                  placeholder="Enter Name"
                  class="mb-5 focus:border-indigo-400 focus:outline-none focus:shadow-outline border mt-2 w-full h-10 bg-sky-900 p-5 placeholder:text-sky-500"
                  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                />
                <input
                  required
                  type="password"
                  name="password"
                  placeholder="Enter Password (Optional)"
                  class="mb-5 focus:border-indigo-400 focus:outline-none focus:shadow-outline border mt-2 w-full h-10 bg-sky-900 p-5 placeholder:text-sky-500"
                  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                />
                <input
                  required
                  type="password"
                  name="password"
                  placeholder="Enter Confirm Password (Optional)"
                  class="mb-5 focus:border-indigo-400 focus:outline-none focus:shadow-outline border mt-2 w-full h-10 bg-sky-900 p-5 placeholder:text-sky-500"
                  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                />
              </form>
            </div>
            <!--submit button-->
            <button
              type="submit"
              class="font-semibold bg-sky-700 w-full text-3xl text-white py-2 rounded-lg"
            >
              EDIT ACCOUNT
            </button>
          </div>
        </div>
      </div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="relative">
    <nav class="absolute w-64 bg-sky-900 text-white h-screen">
        <div class="flex items-center justify-center mt-12">
            <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="">
        </div>
        <p class="font-semibold text-center mt-5 text-2xl">Admin</p>
        <div class="px-16 mt-6" >
            <hr style="border:1px solid white;"/>
        </div>
        <ul class="mt-4 text-center text-2xl font-semibold px-3 py-4">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Dashboard</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Create Account</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Summary Gen</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Change Password</a>
            </li>
        </ul>
            <div class="flex items-center justify-center absolute inset-x-0 bottom-2">
                <button class="text-2xl px-4 py-2 hover:bg-sky-700 rounded-2xl font-semibold">Logout</button>
            </div>
    </nav>
    </div>

    <div>
        <div class="absolute mt-52 grid grid-cols-3 ml-72 space-y-5 pb-10">
        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mt-4 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 1</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Mission, Goals, and Objectives
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>
        
        <div class="flex justify-center">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 2</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Faculty
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 3</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Curriculum and Instruction
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 4</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Students
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 5</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Research
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 6</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Extension and Community Involvement
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 7</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Library
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 8</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Physical Facilities
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 9</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Laboratories
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>

        <div class="flex justify-center items-center flex-wrap">
            <div class="block p-6 rounded-lg shadow-md bg-white border border-gray-600 dark:bg-gray-800 dark:border-gray-700 w-96 h-48 mr-10">
                <h5 class="text-gray-700 text-xl tracking-tight font-bold mb-2 text-center">Area 10</h5>
                <p class="text-gray-500 text-lg text-center mb-4">
                    Administration
                </p>
                <a href="#" class="ml-20 mt-5 inline-flex items-center py-2 px-5 text-lg font-medium text-center text-white bg-sky-700 rounded-full hover:bg-sky-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Parameter</a>
            </div>
        </div>
        
        </div>
    </div>
</body>
</html> -->

<!-- for testing -->
<!-- <app-admin-home></app-admin-home> -->


