
<!-- Main container -->
<div class="container mx-auto border border-sky-600 my-3">

    <div class="container mx-auto grid grid-cols-1 xl:grid-cols-3 gap-6 m-3 px-10 ">

         <!-- Add card -->
        <div  class="flex justify-center border h-auto w-auto items-center border-gray-600 rounded-lg p-3">
            <svg class="h-16 w-16 fill-gray-600 cursor-pointer" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                  clip-rule="evenodd"
                />
              </svg>
        </div>

       <!-- Parameter A -->
        <div class="border h-auto w-auto border-gray-600 rounded-lg p-3">
            <svg  class="h-5 w-5 float-right fill-gray-600 cursor-pointer" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
            <h2 class="text-xl font-bold text-center text-gray-600 mt-2"> Parameter A </h2>
            <!-- Button & Hover -->
            <button class="w-full max-w-xs rounded-full relative overflow-hidden inline-flex group items-center justify-center mt-4 bg-sky-800 text-white px-3.5 py-2 active:shadow-none shadow-lg">View Table 
                <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-80 group-hover:h-80 lg:group-hover:w-56 lg:group-hover:h-56 xl:group-hover:w-80 xl:group-hover:h-80 opacity-10"></span>
            </button>    
        </div>

        <!-- Parameter B -->
        <div class="border h-auto w-auto border-gray-600 rounded-lg p-3">
            <svg  class="h-5 w-5 float-right place-self-end fill-gray-600 cursor-pointer" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
            <h2 class="text-xl font-bold text-center text-gray-600 mt-2"> Parameter B </h2>
             <!-- Button & Hover -->
            <button class="w-full max-w-xs rounded-full relative overflow-hidden inline-flex group items-center justify-center mt-4 bg-sky-800 text-white px-3.5 py-2 active:shadow-none shadow-lg">View Table 
                <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-80 group-hover:h-80 lg:group-hover:w-56 lg:group-hover:h-56 xl:group-hover:w-80 xl:group-hover:h-80 opacity-10"></span>
            </button>    
        </div>

        <!-- Parameter C -->
        <div class="border float-right h-auto w-auto border-gray-600 rounded-lg p-3">
            <svg  class="h-5 w-5 float-right fill-gray-600 cursor-pointer" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
            <h2 class="text-xl font-bold text-center text-gray-600 mt-2"> Parameter C </h2>
             <!-- Button & Hover -->
            <button class="w-full max-w-xs rounded-full relative overflow-hidden inline-flex group items-center justify-center mt-4 bg-sky-800 text-white px-3.5 py-2 active:shadow-none shadow-lg">View Table 
                <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-80 group-hover:h-80 lg:group-hover:w-56 lg:group-hover:h-56 xl:group-hover:w-80 xl:group-hover:h-80 opacity-10"></span>
            </button>    
        </div>
        
        <!-- Parameter D -->
        <div class="border h-auto w-auto border-gray-600 rounded-lg p-3">
            <svg  class="h-5 w-5 float-right fill-gray-600 cursor-pointer" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
            <h2 class="text-xl font-bold text-center text-gray-600 mt-2"> Parameter D </h2>
             <!-- Button & Hover -->
            <button class="w-full max-w-xs rounded-full relative overflow-hidden inline-flex group items-center justify-center mt-4 bg-sky-800 text-white px-3.5 py-2 active:shadow-none shadow-lg">View Table 
                <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-80 group-hover:h-80 lg:group-hover:w-56 lg:group-hover:h-56 xl:group-hover:w-80 xl:group-hover:h-80 opacity-10"></span>
            </button>    
        </div>


    </div>   


</div>