<body class="relative">
    <nav class="absolute w-64 bg-sky-900 text-white h-screen">
        <div class="flex items-center justify-center mt-12">
            <img class="h-32 w-32 rounded-full" src="assets/user1.png" alt="">
        </div>
        <p class="font-semibold text-center mt-5 text-2xl">Admin</p>
        <div class="px-16 mt-6" >
            <hr style="border:1px solid white;"/>
        </div>
        <ul class="mt-4 text-center text-2xl font-semibold px-3 py-4">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Dashboard</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Create Account</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Summary Gen</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-sky-700 focus:bg-sky-700 rounded-2xl">Change Password</a>
            </li>
        </ul>
            <div class="flex items-center justify-center absolute inset-x-0 bottom-2">
                <button class="text-2xl px-4 py-2 hover:bg-sky-700 rounded-2xl font-semibold">Logout</button>
            </div>
    </nav>
</body>