.bg-gradient {
  background: linear-gradient(132deg, #6366f1, #0ea5e9, #212335);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.cube {
  position: absolute;
  top: 100%;
  left: 45%;
  width: 10px;
  height: 15px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 8s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 1s;
  left: 25%;
  top: 40%;
}
.cube:nth-child(3) {
  animation-delay: 3s;
  left: 80%;
  top: 50%;
}
.cube:nth-child(4) {
  animation-delay: 5s;
  left: 90%;
  top: 10%;
}
.cube:nth-child(5) {
  animation-delay: 7s;
  left: 10%;
  top: 50%;
}
.cube:nth-child(6) {
  animation-delay: 9s;
  left: 50%;
  top: 10%;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}