<!-- container of levels -->
<!-- <app-admin-dialog-card></app-admin-dialog-card> -->
<div
  *ngIf="areaOutlet.isActivated == false"
  class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-3 p-3 auto-rows-[1fr]"
>
  <app-dashboard-add-card></app-dashboard-add-card>

  <app-dashboard-card
    *ngFor="let level of levels; let i = index"
    [card]="level"
    [index]="i"
    [levels]="levels"
  ></app-dashboard-card>
</div>
<router-outlet #areaOutlet="outlet"></router-outlet>
